@page
@model IndexModel
@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We are saving users!</p>

</div>

<div class="index">
    <form method="post">

        <label for="firstName">Enter your first name:</label>
        <input type="text" id="firstName" name="firstName" minlength="1">

        <label for="lastName">Enter your last name:</label>
        <input type="text" id="lastName" name="lastName" minlength="1">

        <input type="submit" value="Submit">

    </form>
</div>

<div  class="text-center">

    <button type="button" onclick="location.href='/Users'">Click here to see all of our users</button>
    
</div>
